body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    color: #333;
}

h1 {
    text-align: center;
    margin-top: 20px;
    color: #0044ff;
}

.search-container, .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.search-container label {
    margin-right: 10px;
}

.search-container input {
    margin-right: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.search-button:hover {
    background-color: #0056b3;
}

.listings-button {
    padding: 10px 20px;
    margin: 0 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.listings-button.selected {
    background-color: #218838;
}

.listings-button:hover {
    background-color: #218838;
}

.listings {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.listing {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    width: 300px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.listing:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.listing h2 {
    color: #333;
    font-size: 1.5em;
    margin-bottom: 10px;
}

.listing p {
    margin: 5px 0;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.pagination-button {
    padding: 10px 20px;
    background-color: #17a2b8;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 10px;
    transition: background-color 0.3s;
}

.pagination-button:hover {
    background-color: #138496;
}

#page-number {
    font-size: 1.2em;
}